<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Game Timer</title>

    <style>
        .top {
            margin-top: 1em;
        }
    </style>
</head>
<body>
    <script src="vue.min.js"></script>
    <link href="css/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet">

    <div id="app">
        <h1 class="text-center">Game Timer</h1>
        <div v-if="!is_timer">
            <h6 class="text-center"><a href="" @click.prevent="toggleCaption" v-if="!caption">Breve descrizione</a></h6>
            <div class="container">
                <h6 class="text-center" v-if="caption">
                    Qui sotto ci sono tre spazi testuali, nel primo dovrai inserire i minuti da impostare per il timer,<br>
                    la seconda area &egrave; quella dedicata ai secondi, mentre l'ultima &egrave; dedicata all'intervallo di tempo
                    tra un timer e l'altro
                    <br><a href="" @click.prevent="toggleCaption" v-if="caption">Mostra di meno</a>
                </h6>
            </div>
        </div>
        <div class="container bd-example" v-if="!submitted">
            <form @submit.prevent="submitData">
                <div class="form-group">
                    <label for="minutes">Inserisci i minuti del timer</label>
                    <input type="number" name="" class="form-control" v-model="mins" id="minutes" placeholder="default: 5">
                </div>
                <div class="form-group">
                    <label for="secods">Inserisci i secondi del timer</label>
                    <input type="number" name="" class="form-control" v-model="secs" id="seconds" placeholder="default: 0">
                </div>
                <div class="form-group">
                    <label for="interval">Inserisci l'intervallo di tempo</label>
                    <input type="number" name="" class="form-control" v-model="interval" id="interval" placeholder="default: 15">
                </div>
                <div class="form-group">
                    <input type="submit" value="" class="btn btn-lg btn-outline-danger" :value="submit_text">
                </div>
            </form>
        </div>
        <div class="container justify-content-center" v-else>
            <timer
                :mins="mins"
                :secs="secs"
                :interval="interval"
            ></timer>
            <button class="btn btn-lg btn-danger" v-if="!isStarted" @click="goTimer">Avvia timer</button>
            <button class="btn btn-lg btn-danger" v-if="!isStopped && isStarted" @click="toggleTimer">Pausa</button>
            <button class="btn btn-lg btn-success" v-if="isStopped && isStarted" @click="toggleTimer">Play</button>
            <button class="btn btn-lg btn-outline-danger" v-if="isStarted" @click="resetTimer">Reset Timer</button>
            
            <audio src="audio/sveglia.mp3" autoplay v-if="isInterval"></audio>
        </div>
    </div>
    <script src="main.js"></script>
    <script src="css/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
</body>
</html>